body {
    background-color: rgb(71, 132, 202);
}

nav {
    position: absolute;
    padding: 0px 50px;
    font-size: 30px;
    margin: 0px 35px;
    right: 0px;
    top: 0px;
}

nav:hover {
    color: white;
    background-color: aqua;
}


h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    margin: 70px 15px;
    
}

.sub {
    text-align: center;
    font-size: 38px;
}


p, li, article {
    color: white;
    font-size: 23px;

}

.ejemplo {
    background-color: #292929;
    border-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    width: 500px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

i {
    position: relative;
    right: 950px;
    bottom: 0px;
    font-size: 40px;
}

i:hover {
    background-color: aqua;
}
