body {
    background: linear-gradient(to bottom, pink,white,cyan);
}

.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 65px;
    color: rgb(78, 41, 41);
    padding: 40px;
    top: 0px;
}


.container {
    border-radius: 20px;
    background-color: rgb(197, 57, 14);
    height: 150px;
    width: auto;
    position: relative;
    padding: 15px;
    margin: 45px;
    align-items: center;
    display: inline-block;
    font-size: 150px;
    border: none;

}

.logo {
    align-items: center;
    bottom: 10px;
    margin: 5px 60px;
    justify-content: center;
    height: 150px;
    width: 150px;
    cursor: alias;
    text-align: center;
    transition: .5s ease all;
}

.logo:hover {
    background-color: white;
    border: double 8px;
}


.foo {
    text-align: center;
    padding-top: 20px;
    margin: 20;
    height: 200px;
    font-size: 27px;
    border: ;
}

.foo :hover {
    color: yellow; 
}

